.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

}

button,
.button {
    border: none;
    padding: var(--primary-padding);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;

    &.primary {
        color: white;
        background-color: var(--secondary-color);
        border-radius: 20px;
    }

    &.secondary {
        color: white;
        background-color: var(--primary-color);
        border-radius: 20px;
    }

    &.icon {
        background-color: transparent;
        padding: 0;
        color: white;
        margin-right: 15px;
        box-shadow: none;
    }

    &.search-by {
        color: black;
    }

    &.controller {
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.162);
        margin: 0;
        border-radius: 50%;

        &.left {
            margin-left: 10px;
        }

        &.right {
            margin-right: 10px;
        }

        &:hover {
            background-color: rgb(69 69 69 / 35%);
            transform: scale(1.1);
        }
    }

    @media(min-width: 767px) {

        &.search-btn {
            display: none;
        }

    }
}