* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    transition: .1s linear all;

    user-select: var(--primary-color);
}

:root {
    --primary-color: #009688;
    --secondary-color: #FFC107;

    --grey-color: #aedadf;

    --primary-padding: .5em 1.5em;

    --box-shadow: 0px 1px 3px #000000ad, 0px 0px 0px 0.5px #00000052;
}

a {
    text-decoration: none;
    max-width: fit-content;
}

ul {
    padding: var(--primary-padding);

    & li {
        list-style: none;
    }
}

input {
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    height: 100%;
    float: right;
}

select:focus {
    outline: none;
}

form {
    text-align: center;
    padding: 10px;

    max-width: 400px !important;
    margin: 20px auto !important;

    input,
    button {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 0.5px #00000052;
    }
}

h1 {
    text-align: center;
}
h2 {
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
}