.cardHolder {
    overflow-x: scroll;
    height: 300px;
}

.cardHolder::-webkit-scrollbar {
    display: none;
}

.card, .card > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}