.storiesHolder {
    position: relative;
}

.nextBtn, .prevBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: #eeeeee5b;
    opacity: .4;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.352);
    transition: linear .1s;
}

.prevBtn {left: 10px;}

.nextBtn {right: 10px;}

.nextBtn:hover,
.prevBtn:hover {
    background-color: #eee !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.352);
    transform: translateY(-50%) scale(1.2);
    opacity: 1;
}