.slider-container {
    position: relative;
    padding: 0;
    height: 300px;
    background-color: var(--grey-color);

    .text-container {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        padding: var(--primary-padding);
        color: white;

        @media(min-width: 768px) {
            margin-left: 30px;
        }

        h2 {
            margin-bottom: 20px;
        }
    }

    .imgs-container {
        height: 300px;
        .button-container {
            position: absolute;
            top: 50%;
            width: 100%;

            @media(max-width: 767px) {
                display: none
            }
        }

        .bullet-container {
            display: flex;
            justify-content: space-around;
            width: 200px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @media(max-width: 767px) {
                display: none
            }

            li {
                width: 20px;
                height: 20px;
                background-color: #00bcd43b;
                border-radius: 50%;
                cursor: pointer;

                &.active {
                    background-color: var(--primary-color);
                }
            }
        }
    }}